body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 2rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

p {
  color: hsl(220, 15%, 55%);
  margin: 0;
  line-height: 1.2;
}

.card {
  padding: 16px 16px 40px;
  border-radius: 20px;
  background: white;
  max-width: 20rem;
  box-shadow: 0 15px 25px rgba(1, 1, 1, 0.05);
}
.card img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}
.card h2 {
  color: hsl(218, 44%, 22%);
  margin: 24px 0 16px;
  line-height: 1.2;
}
.card p {
  padding: 0 1rem;
}
